[includeIf "gitdir:~/repos/personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/repos/work/"]
    path = ~/.gitconfig-work
[user]
    name = Joe Terlecki
    email = joeterlecki@proton.me

[core]
    editor = nvim
    autocrlf = input
[init]
    defaultBranch = main
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[pull]
    rebase = false
[help]
    autocorrect = 20
