/**
 * Vesper Theme for Rofi
 * Based on the Vesper VSCode Theme colors
 */
* {
    base: #101010;
    surface0: #1C1C1C;
    overlay0: #505050;
    text: #FFFFFF;
    accent: #FFC799;
    error: #FF8080;
    mint: #99FFE4;
    gray: #A0A0A0;
    
    background-color: @base;
}

window {
    height: 600;
    width: 600;
    border: 3;
    border-radius: 0;
    border-color: @accent;
}

mainbox {
    spacing: 0;
    children: [inputbar, message, listview];
}

inputbar {
    color: @text;
    padding: 14;
    background-color: @base;
}

message {
    padding: 10;
    background-color: @overlay0;
}

listview {
    padding: 8;
    border-radius: 0;
    border: 2 2 2 2;
    border-color: @base;
    background-color: @base;
    dynamic: false;
}

textbox {
    text-color: @text;
    background-color: inherit;
}

error-message {
    border: 20 20 20 20;
}

entry, prompt, case-indicator {
    text-color: inherit;
}

prompt {
    margin: 0 10 0 0;
}

element {
    padding: 5;
    vertical-align: 0.5;
    border-radius: 0;
    background-color: @surface0;
    text-color: @text;
}

element.selected.normal {
    background-color: @accent;
    text-color: #000000;
}

element.alternate.normal {
    background-color: inherit;
}

element.normal.active, element.alternate.active {
    background-color: @mint;
    text-color: #000000;
}

element.selected.active {
    background-color: @accent;
    text-color: #000000;
}

element.normal.urgent, element.alternate.urgent {
    background-color: @error;
}

element.selected.urgent {
    background-color: @accent;
}

element-text, element-icon {
    size: 40;
    margin: 0 10 0 0;
    vertical-align: 0.5;
    background-color: inherit;
    text-color: inherit;
}

element-text.active, element-text.urgent {
    text-color: #000000;
}
